<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register PCS</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{url_for('static',filename='register.css')}}">
</head>
<body>
<h4>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}

</h4>
    <form action="" method="post">
            <img src="{{url_for('static',filename='signup.png')}}"  alt="signup.png">

            <div class="input-container">
                <i class="fas fa-user icon"></i>
                <input class="input-field"
                type="text"
                placeholder="Full Name"
                name="usrnm" required>
            </div>

            <div class="input-container">
                <i class="fa fa-mobile icon"></i>
                <input class="input-field"
                type="text"
                placeholder="Mobile-No"
                name="mobno" required>
            </div>

            <div class="input-container">
                <i class="far fa-envelope icon"></i>
                <input class="input-field"
                type="email"
                placeholder="E-Mail"
                name="email" required>
            </div>

            <div class="input-container">
                <i class="fas fa-key icon"></i>
                <input class="input-field"
                type="password"
                placeholder="Password"
                name="psw" required>
            </div>

            <div class="input-container">
                <i class="fas fa-key icon"></i>
                <input class="input-field"
                type="password"
                placeholder="Re-Enter password"
                name="psw1" required>
            </div>

            <button type="submit" value="Save Details" class="btn"><b>Sign up</b></button><br><br>

            <span class="already">Already have an account?<a href="/">  Login</a></span>
    </form>
</body>
</html>